## Soal UTS

Tasks 1

In [1]:
company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

print(f"{'Name':<15} {'Domain':<15} {'Country':<15}")
print("="*45)

for company in company_detail_list:
    print(f"{company['name']:<15} {company['domain']:<15} {company['country']:<15}")

Name            Domain          Country
=============================================
Company 1       Retail          United States
Company 2       Technology      United Kingdom
Company 3       Healthcare      United States

Soal 2

In [3]:
company_detail_list = [
    {
        'name': 'Company 1',
        'domain': 'Retail',
        'country': 'United States'
    },
    {
        'name': 'Company 2',
        'domain': 'Technology',
        'country': 'United Kingdom'
    },
    {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'country': 'United States'
    }
]

print(f"{'Name Company':<15} | {'Domain':<15} | {'Country':<15}")
print("=" * 47)

for company in company_detail_list:
    print(f"{company['name']:<15} | {company['domain']:<15} | {company['country']:<15}")

Name Company    | Domain          | Country
===============================================
Company 1       | Retail          | United States
Company 2       | Technology      | United Kingdom
Company 3       | Healthcare      | United States

Tasks 3

In [5]:
employees_by_domain = {}

for employee in employees:
    domain = employee['domain']
    name = employee['name']
    
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    
    employees_by_domain[domain].append(name)

print("{")
for domain, names in employees_by_domain.items():
    print(f'    "{domain}": [')
    for name in names:
        print(f'        "{name}",')
    print("    ],")
print("}")

{
    "Retail": [
        "John Doe",
        "Robert White",
        "Ying Han Tan",
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee",
    ],
    "Healthcare": [
        "Kenneth Ng",
        "Andrew Sebastian",
    ],
}

Tasks 4

In [11]:
company_country_map = {
    'Company 1': 'United States',
    'Company 2': 'United Kingdom',
    'Company 3': 'United Kingdom'
}

def get_employees_with_country(employee_list):
    result = []
    for employee in employee_list:
        full_name = employee['full_name']
        company = employee['company']
        country = company_country_map.get(company, "Unknown")
        
        result.append({
            'full_name': full_name,
            'company': company,
            'country': country
        })
    
    return result

employees_with_country = get_employees_with_country(employee_detail_list)

print("[")
for emp in employees_with_country:
    print(f'    {{')
    print(f'        "full_name": "{emp["full_name"]}",')
    print(f'        "company": "{emp["company"]}",')
    print(f'        "country": "{emp["country"]}"')
    print(f'    }},')
print("]")

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United Kingdom"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United Kingdom"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    },
]

Tasks 5

In [14]:
def get_companies_with_employee_nationality(employee_list):
    company_nationality_map = {}

    for employee in employee_list:
        company = employee['company']
        nationality = employee['nationality']
        
        if company not in company_nationality_map:
            company_nationality_map[company] = {}
        
        if nationality not in company_nationality_map[company]:
            company_nationality_map[company][nationality] = 0
        
        company_nationality_map[company][nationality] += 1
    
    result = []
    for company, nationalities in company_nationality_map.items():
        result.append({
            'company': company,
            'employee_nationality': nationalities
        })
    
    return result

companies_with_nationality = get_companies_with_employee_nationality(employee_detail_list)

print("[")
for company in companies_with_nationality:
    print(f'    {{')
    print(f'        "company": "{company["company"]}",')
    print(f'        "employee_nationality": {company["employee_nationality"]}')
    print(f'    }},')
print("]")

[
    {
        "company": "Company 1",
        "employee_nationality": {'Australia': 2, 'United Kingdom': 1}
    },
    {
        "company": "Company 2",
        "employee_nationality": {'United States': 1, 'Hong Kong': 1}
    },
    {
        "company": "Company 3",
        "employee_nationality": {'United States': 2}
    },
]